<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calçats Stifelio</title>
</head>
<body>
    <h1> Sign In </h1>
    <hr>
<div class="form">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{form}}
            <input type ="submit">
        </form>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</div>

</body>
</html>